<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GlowBase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">GlowBase</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/submit-review">Submit Review</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/admin/login">Admin</a></li>
    </ul>
</nav>

{% block content %}{% endblock %}

<footer>
    <p>GlowBase Database Systems Project</p>
</footer>

</body>
</html>