# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*


# Flask
instance/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Dataset files
data/*.csv

# Database files
*.db
*.sqlite3

# Logs / runtime artifacts
*.log
*.pid
static/charts/*.png
