# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Flask
instance/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Dataset files
data/*.csv

# Database files
*.db
*.sqlite3